node_modules
.env
.env.local
.env.development
.env.production
.env.test
.env.test.local
.env.test.local.backup
.env.test.local.backup.2
.env.test.local.backup.3
.env.test.local.backup.4
.env.test.local.backup.5
.env.test.local.backup.6
.env.test.local.backup.7
.idea
.vscode
dist
logs
.nx
public/upload